.cart-page{
    margin:80px auto;
    margin-left: 3%;
    margin-right: 3%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 20px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
    text-decoration: none;
}
td img{
    width: 130px;
    height: 130px;
    margin-right: 15px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.title{
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
    margin-top:25px;
	margin-bottom:50px;
}
.title::after{
    content: '';
    background: #FF523B;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.cartVuoto{
	text-align:center;
	font-size:30px;
	margin-bottom:20%;
}
 .btn-conferma{
 	font-size:18px;
 	margin-top:30px;
    margin-left:47.7%;
    text-align:center;
  	border: none;       /* nessun bordo */
  	color: #fff;        /* colore del testo    */
  	font-weight: bold;  /* testo in grassetto  */
  	padding: 0;         /* padding             */
  	height: 37px;       /* altezza             */
  	width: 110px;  
  	background-color:#FF523B;
  	border-radius:10px;
  	margin-bottom:9%;
}
.tot{
	margin-top:20px;
	margin-left:0.1%;
	font-size:25px;
}
table tr td input{
	margin-right:5px;
}
table tr td a img{
	margin-left:5px;
}
table tr .remove{
	margin-left:5px;
	font-size:16px;
	text-align:center;
}

@media only screen and (max-width:350px){
    .cart-page{
        margin:80px auto;
    }
    th{
        text-align: left;
        padding: 5px;
        color: #fff;
        background: #ff523b;
        font-weight: normal;
    }
    td{
        padding: 10px 0px;
    }
    td input{
        width: 20px;
        height: 20px;
        padding: 5px;
        margin-left: 15px;
    }
    td a{
        color: #ff523b;
        font-size: 12px;
        text-decoration: none;
    }
    td img{
        width: 100px;
        height: 100px;
        margin-right: 5px;
    }
    .cart-info div{
        margin-top: -10px;
    }
}
@media only screen and (max-width:290px){
    td img{
        width: 60px;
        height: 60px;
    }
    .cart-info div p{
        font-size: 12px;
    }
    .cart-info div small{
        font-size: 11px;
    }
}

@media only screen and (max-width:165px){
    .total-price{
        display: flex;
        justify-content: right;
    }

}