body{
    font-family: 'Poppins', sans-serif;
}
.containerhome{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #f81e01;
    color: #fff;
    padding: 8px 20px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}
.header{
    background:linear-gradient(#6495ED,#F0F8FF,#fff);
    margin-left: -8px;
    margin-right: -8px;
}
.caterogies{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    max-height:420px;
    max-width:250px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 22%;
    padding: 10px;
    min-width: 200px;
    max-height:366px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
    max-height:258px;
}
.col-4 a p{
	margin-top:-45px;
	display:none;
}
.title{
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
    margin-top:25px;
	margin-bottom:50px;
}
.title::after{
    content: '';
    background: #FF523B;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: #555;
    font-weight:bold;
}
.col-4 p{
    font-size: 14px;
	margin-top:-20px;
    margin-bottom:30px;
}

/* AGGIUNTO PER AVVICINARE IL TITOLO DEL PRODOTTO AL PREZZO */
h4+p{
    margin:-35px 0px;
}
.risRicerca{
	font-size:40px;
	margin-bottom:35%;
}

@media only screen and (max-width:250px){
    
    .risRicerca{
	font-size:30px;
	}
    .header{
        background:linear-gradient(#6495ED,#F0F8FF,#fff);
        margin-top: -8px;
        margin-left: -50px;
        margin-right: -80px;
    }
    .col-2 h1{
        font-size: 20px;
        margin-left: 20px;
    }
    .col-2 p{
        font-size: 12px;
        margin-left: 20px;
    }
    .col-2 img{
        margin-left: 20px;
        width: 205px;
    }
    .col-3 img{
        margin-left: 20px;
        margin-right: 0;
        width: 210px;
    }
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}
@media only screen and (max-width:300px){
    
    .header{
        background:linear-gradient(#6495ED,#F0F8FF,#fff);
        margin-top: -8px;
        margin-left: -50px;
        margin-right: -50px;
    }
    .col-2 h1{
        font-size: 20px;
    }
    .col-2 p{
        font-size: 12px;
    }
    .col-2 img{
        width: 205px;
    }
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2 h1{
        margin: 0;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}
@media only screen and (max-width:965px){
    .col-4{
        flex-basis: 35%;
    }
}