*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: auto;
    margin-top:10px;
    padding-left: 5px;
    padding-right: 25px;
    background: white;
}
.navbar{
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display:inline-block ;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
    padding-top:10px;
}
a{  
    font-size: large;
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.search-box{
    border: 2px solid #555;
    margin-right: 5px;
    background: white;
    height: 25px;
    border-radius: 20px;
    padding: 5px 8px 28px 15px;
}
.search-txt{
    border: none;
    background:none;
    outline:none;
    float: left;
    padding: 0;
    color:black;
    font-size: 20px;
    transition:0.7s;
    width: 240px;
}
.search-btn{
    color: #333;
    border-radius: 50%;
    display: flex;
    margin-top: 3px;
    margin-right: 5px;

}
.bi-person{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 32px;
    color: #333;
}
.bi-bag{
    margin-top: 3px;
    width: 32px;
    height: 30px;
    color: #333;
}
.header_icon-bar{
    float: right;
    padding: 20px;
    display: none;
}

.header_icon-bar span{
    display: block;
    height: 3px;
    width: 30px;
    background:#555;
    margin-bottom: 5px;
}
.navbar .logo a img{
    margin-top: 3px;
    margin-left:10px;
    padding-top:2px;
}
.navbar .icon_setting a .bi-gear{
    margin-left: 10px;
    margin-top:5px;
}





/*         MEDIA QUERY         */

@media only screen and (max-width:890px){
    .container{
        overflow: hidden;
    }
    nav ul{
        height: 0px;
        overflow: hidden;
        position: absolute;
        top:74px;
        left: 0;
        width: 100%;
    }
    .search-box{
        position:absolute;
        display: none;
        top: 90px;
        width: 200px;
        margin-left: 33%;
        margin-right: 10%;
    }
    .search-txt{
        width: 150px;
    }
    .search-btn{
        position: absolute;
        margin-left: 150px;
        transition: none;
    }
    .primoLi{
        margin-top: 70px;
    }
    nav ul li{
        display: block;
        margin-right: 8%;
        margin-bottom: 25px;
    }
    .header_icon-bar{
        margin-right: -20px;
        margin-top: 5px;
        display:block;
    }
    .is-open{
        height: 300px;
        overflow: auto;
        display: block;
    }
    .is-open-search{
        display: block;
    }
}
@media only screen and (max-width:310px){
    .container{
        overflow: visible;
        margin-right: 0;
    }
    .logo{
        margin-left: -10px;
    }
    nav ul{
        height: 0px;
        overflow: hidden;
        position: absolute;
        top:74px;
        left: 0;
        width: 100%;
    }
    .search-box{
        position:absolute;
        display: none;
        top: 90px;
        width: 200px;
        margin-left: 5%;
    }
    .search-txt{
        width: 150px;
    }
    .search-btn{
        position: absolute;
        margin-left: 150px;
        transition: none;
    }
    .primoLi{
        margin-top: 70px;
    }
    nav ul li{
        display: block;
        margin-bottom: 20px;
    }
    .header_icon-bar{
        margin-top: 5px;
        margin-left: -20px;
        display:block;
    }
    .is-open{
        height: 400px;
        overflow: auto;
        display: block;
    }
    .is-open-search{
        display: block;
    }
    .header_menu_img{
        display: none;
    }
    .bi-bag{
        margin-top: 55px;
        margin-left: 45px;
    }
    .bi-person{
        margin-left: 80px;
    }
    .is-open-img{
        display: block;
        position: absolute;
        top: 280px;
    }
}
@media only screen and (max-width:170px){
    .container{
        overflow: hidden;
        margin-right: -65px;
    }
    .logo{
        margin-left: -10px;
    }
    nav ul{
        height: 0px;
        overflow: hidden;
        position: absolute;
        top:74px;
        left: 0;
        width: 100%;
    }
    .search-box{
        position:absolute;
        display: none;
        top: 90px;
        width: 130px;
        margin-left: 0;
    }
    .search-txt{
        width: 75px;
    }
    .search-btn{
        position: absolute;
        margin-left: 80px;
        transition: none;
    }
    .primoLi{
        margin-top: 70px;
    }
    nav ul li{
        display: block;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .header_icon-bar{
        margin-top: 5px;
        margin-left: -20px;
        display:block;
    }
    .is-open{
        height: 400px;
        overflow: auto;
        display: block;
    }
    .is-open-search{
        display: block;
    }
    .header_menu_img{
        display: none;
    }
    .bi-bag{
        margin-top: 55px;
        margin-left: 15px;
    }
    .bi-person{
        margin-left: 22px;
    }
    .is-open-img{
        display: block;
        position: absolute;
        top: 280px;
    }
}