.contenitore{
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:10px;
}
.controllo-ordine .form1{
	margin-left:10px;
	margin-top:10px;
}
.controllo-ordine .ordine-Cercato{
	margin-left:10px;
}
.cerca-prodotto .form2{
	margin-left:10px;
	margin-top:10px;
}
.cerca-prodotto .prodotto-Cercato{
	margin-left:10px;
}
.inserisci-ordine .nome,
.inserisci-ordine .descrizione,
.inserisci-ordine .prezzo,
.inserisci-ordine .immagine,
.inserisci-ordine .categoria,
.inserisci-ordine .quantita{
	margin-left:10px;
}
.modifica-prodotto .idProdotto,
.modifica-prodotto .nome,
.modifica-prodotto .descrizione,
.modifica-prodotto .prezzo,
.modifica-prodotto .immagine,
.modifica-prodotto .categoria,
.modifica-prodotto .quantita{
	margin-left:10px;
}
.inserisci-ordine #prodIns,
.modifica-prodotto #prodMod{
	margin-left:10px;
	font-size:18px;
	color:green;
}

.inserisci-ordine .botton{
	margin-left:10px;
	margin-bottom:10px;
}
.modifica-prodotto .botton{
	margin-left:10px;
	margin-bottom:10px;
}
legend{
	color:#cc0000;
}
.controllo-ordine .form1 .pulsante,
.cerca-prodotto .form2 .pulsante{
	margin-left:5px;
  	border: none;       /* nessun bordo */
  	color: #fff;        /* colore del testo    */
  	font-weight: bold;  /* testo in grassetto  */
  	padding: 0;         /* padding             */
  	height: 25px;       /* altezza             */
  	width: 80px;  
  	background-color:#d12e05;
  	border-radius:8px;
}
.inserisci-ordine .botton .pulsante,
.modifica-prodotto .botton .pulsante{
	border: none;       /* nessun bordo */
  	color: #fff;        /* colore del testo    */
  	font-weight: bold;  /* testo in grassetto  */
  	padding: 0;         /* padding             */
  	height: 35px;       /* altezza             */
  	width: 90px;  
  	background-color:#d12e05;
  	border-radius:8px;
}
