@charset "ISO-8859-1";
@media screen and (max-width:1000px) {
        #registrazione{
            float: left;
            clear: both;
            width: 100%;
            margin-bottom:200px;
        }
    }
    @media screen and (max-width:540px) {
        #registrazione{
            float: left;
            clear: both;
            width: 50%;
        }
    }
    @media screen and (max-width:260px) {
        form{
            position: fixed;
            left:2px;

        }
        div div input{
            width: 140px;
        }
        h1{
            font-size: 25px;
        }
    }
    
    
    
    input{
        width: 250px;
        height: 25px;
        outline:none;
        border-radius: 5px;
        border-style:solid;
    }
    input:focus{
        border: 2px solid #a82d2d;
    }
    input[type=submit]{
        width: 75px;
        height: 35px;
        padding-left: 0;
    }
    h1,h2{
        color:#000040;
    }
    #registrazione{
        margin-left: 25%;
        margin-top:4%;
        margin-bottom:4%;
    }
    div.nome{
        float: left;
        margin-right: 20px;
    }
    div.città{
        float: left;
        margin-right: 20px;
    }
    div.indirizzo{
        float: left;
        margin-right: 20px;
    }
    #spanNome,#spanCogn,#spanCit,#spanCap,#spanInd,#spanTel,#spanEmail,#spanPass{	
    	color:red;
    }
    strong{
    font-weight: bold;
    color:#555;
    }


	